@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Film submitted";
}

@model MovieApp.Models.MovieResponse
@*This cshtml displays a confirmation that the movie has been submitted. it also takes the title of the object that was just created*@

<div>
    <p> @Model.Title has been submitted.</p>
    Click <a asp-action="MovieList">here</a> to see the Movie List.
</div>