@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
@*Home html. Basic landing page that fits ionside of the layout*@
<div>
    <img src="~/JoelHilton.jpg" />
    <p>This fantastic website serves as an application for all things Joel Hilton and films.</p>
    <br />
</div>