@{
    ViewBag.Title = "Podcast";
}
@*Links the website user to an external site for Joels Podcast.*@
<div>
    <br />
    <p>Click on the image below to visit Joel's award winning Baconsale podcast website. </p>
    <br />
    <a href="https://baconsale.com" ><img src="~/baconsale3.png" /></a>
</div>

